#tb-bookmark a, #tb-goto-bookmark a{
  color: #b49912;
}

#tb-bookmark a:hover, #tb-goto-bookmark a:hover {
  color: #e6fe0e;
}

.tb-marked-tweet {
  background-color: #efefef;
}

.larry-topbar {
  display: none;
}
